<body>
    <div class="container-fluid">
      <div class="row">
        <main class="col-sm-9 offset-sm-4 col-md-10 offset-md-1 pt-3">
          <h4 class="float-right">
            <a href="\logout">Logout</a>
          </h4>
          <h1>Administration area</h1>
          
          <section class="row text-center placeholders">
            <div class="col-4 col-sm-4 placeholder">
              <a href="admin/user">
                <img  src="images/Users.JPG" width="200" height="200" class="img-fluid rounded-circle" alt="user thumbnail">
              </a>
              <h4 >Manage Users</h4>
            </div>
            <div class="col-4 col-sm-4 placeholder">
              <a href="admin/deletesession">
              <img src="images/Session.JPG" width="200" height="200" class="img-fluid rounded-circle" alt="session thumbnail">
              </a>
              <h4>Delete Session</h4>
            </div>
          </section>

          <h2>Data resume</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Contributors</th>
                  <th>Sessions</th>
                  <th>Measures</th>
                </tr>
              </thead>

              <tbody>
                {{#each summary}}
                <tr>
                  <td><a href="/contributors">{{NumUsers}}</a></td>
                  <td><a href="/sessions">{{NumSessions}}</a></td>
                  <td><a href="/discontinuities">{{NumDiscontinuities}}</a></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

</body>