

<!--   API    -->
      <div class="container">
         <h1>API</h1>
          <p>
            We provide fast and clean API that's easy to manipulate that use JSON types, were you can access all information since you are logged in.
            The available endpoints are documented below.
          </p>
         
          <p>
            <b style="color:red">Atention!</b> This Api is protected! You have to be an authorized user! If you are not, please contact the administrator of the system. If you are an authenticate user you have to take your JsonWebToken before use this api on the route POST for (...)/api/authenticate.
          </p>
             
            <h2>Endpoints</h2>
      </div>   
      <div class="container">
          <h3>Authentication</h3>
          <div class="container">
                <h4> POST for (...)/api/authenticate</h4>
                <p>Retrieve <b>JsonWebToken</b> to use api. Save the token in your aplication and send it together with york request's. <b>The token expires in 24H.</b></p>
                  <ul>
                      <li>URL: <b>/api/authenticate</b></li>
                      <li>Example: <br><b>POST</b> for (...)/api/authenticate, sending us your credentials. E.g.: <br>
                      <b>Content-Type: application/x-www-form-urlencoded</b> with the follow information on body: <b>email=yourEmailHere&pass=yourPasswordHere</b> or
                      <b>Content-Type: {"Content-Type":"application/json"}</b> with the follow information on body: <b>{"email": "yourEmailHere",	"pass": "yourPasswordHere"}</b>
                      <br><br>If you have sucess, you will receive an similar json response:
                      <br>{
                          "success": true,
                          "message": "Enjoy your token!",
                          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InhwdG9AeHB0by5wdCIsImlhdCI6MTQ5NTgwNzMzOCwiZXhwIjoxNDk1ODkzNzM4fQ.m_1o-C8Qikhj9pDmTsnT2auT0BJtxNhpgKnCExGuOkU"
                        }
                        <br><br>After you get your token, you should save it in your aplication and use with each request you do to this web api. You can do your requests in two way:
                        <br>- Passing the token using an <b>x-access-token</b> header <b>Content-Type</b>
                        <br>- Passing the token as a <b>URL parameter</b>. E.G. for an GET: localhost:3010/api/discontinuities?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InhwdG9AeHB0by5wdCIsImlhdCI6MTQ5NTgwNzMzOCwiZXhwIjoxNDk1ODkzNzM4fQ.m_1o-C8Qikhj9pDmTsnT2auT0BJtxNhpgKnCExGuOkU

                      </li>  
                  </ul>
          </div>

          <br><h3>Users</h3>
          <div class="container">
          <h4> GET for (...)/api/users</h4>
          <p>Retrieve information for all users in our database.</p>
            <ul>
                <li>URL: <b>/api/users</b></li>
                <li>Example of the response: <p>{ "users": [{"email": "y@mail.com", "name": "Joana Y", "pass": "pqqSMMLNLhjR52iIMTkh9YfwOTgc1hf7mjiMmExWWM0=","salt": 556795943876104232 },
                                            {"email": "x@mail.com", "name": "Pedro X", "pass": "7zENUJrsmz/ISJrf6SLdZem/ws7B71yLf/vUPAKvYsM=", "salt": 316795907876104200}</p></li>  
            </ul>

         <h4> POST for (...)/api/users</h4>
          <p>Post's a new user in database. Note that is only possible for administrator users</p>
          <ul>
                <li>URL: <b>(...)/api/users</b></li>
                <li>Example of the Body (Content-Type: application/json): {"username":"José António","email":"xpto@xpto.com", "password":"123"} 
          </ul>
          </div>
          <h4>DELETE for (...)api/deleteuser/:UserId</h4>
          <p>Removes one user and the respectives discontinuities</p>
          <ul>
                <li>URL: <b>(...)api/deleteuser/:UserId</b></li>
                
          </ul>


          <br><h3>Sessions</h3>
          <div class="container">
          <h4> GET for (...)/api/sessions</h4>
          <p>Retrieve information for all sessions in our database.</p>
            <ul>
                <li>URL: <b>/api/sessions</b></li>
                <li>Example of the response: <p>{"sessions": [{"name": "Arrabida"},{"name": "isel"}]}</p></li>  
            </ul>
          <h4>GET for (...)api/discontinuities/:SessionId</h4>
          <p>Retrieve the follow information for one session discontinuities: discontinuity id, user id, session id, direction, dip direction, latitude, longitude, persistence, aperture, roughness, infilling and weathering. </p>
          <ul>
                <li>URL: <b>(...)api/discontinuities/:SessionId</b></li>
                <li>Example of the response: <p>{
                                                    "discontinuities": [
                                                      {
                                                        "id": 1,
                                                        "idUser": "w@mail.com",
                                                        "idSession": "Arrabida",
                                                        "direction": 59,
                                                        "dip": 44,
                                                        "latitude": 38.52,
                                                        "longitude": -8.99,
                                                        "persistence": 2,
                                                        "aperture": 4,
                                                        "roughness": 1,
                                                        "infilling": 2,
                                                        "weathering": 2
                                                      },
                                                      {
                                                        "id": 2,
                                                        "idUser": "w@mail.com",
                                                        "idSession": "Arrabida",
                                                        "direction": 223,
                                                        "dip": -12,
                                                        "latitude": 38.7556,
                                                        "longitude": -9.11446,
                                                        "persistence": 2,
                                                        "aperture": 4,
                                                        "roughness": 1,
                                                        "infilling": 2,
                                                        "weathering": 2
                                                      }]}</p></li> 
          </ul>
          </div>
          <h4>DELETE for (...)api/deletesession/:SessionId</h4>
          <p>Removes one session and the respective Discontinuities</p>
          <ul>
                <li>URL: <b>(...)api/discontinuities/deletesession/:SessionId</b></li>
                
          </ul>
          <br><h3>Discontinuities</h3>
        <div class="container">
          <h4>GET for (...)api/discontinuities?page:num</h4>
          <p>This endpoint is <b>paginated</b>, with a maximum of 50 results per page. </p>
          <p>Retrieve the follow information for all discontinuities: discontinuity id, user id, session id, direction, dip direction, latitude, longitude, persistence, aperture, roughness, infilling, weathering and the note. </p>
          <ul>
                <li>URL: <b>(...)api/discontinuities?page=0</b></li>
                <li>Example of the response: <p>{"discontinuities": [{
                                                                        "id": 1,
                                                                        "idUser": "w@mail.com",
                                                                        "idSession": "Arrabida",
                                                                        "direction": 59,
                                                                        "dip": 44,
                                                                        "latitude": 38.52,
                                                                        "longitude": -8.99,
                                                                        "persistence": 2,
                                                                        "aperture": 4,
                                                                        "roughness": 1,
                                                                        "infilling": 2,
                                                                        "weathering": 2,
                                                                        "note":"nota1"
                                                                      },
                                                                      {
                                                                        "id": 1,
                                                                        "idUser": "x@mail.com",
                                                                        "idSession": "session1",
                                                                        "direction": 11,
                                                                        "dip": 111,
                                                                        "latitude": 1.1,
                                                                        "longitude": 1.2,
                                                                        "persistence": 2,
                                                                        "aperture": 2,
                                                                        "roughness": 2,
                                                                        "infilling": 2,
                                                                        "weathering": 2,
                                                                        "note":"nota2" }]}</p></li>  
          </ul>

          <h4>POST for (...)api/discontinuities</h4>
          <p>Inserts in database an array of discontinuities in the follow format: discontinuity id, user id, session id, direction, dip direction, latitude, longitude, persistence, aperture, roughness, infilling and weathering.</p>
          <p>Note that the (discontinuity id, user id, session id) must be unique. If this information is repeted in database will be ignored.</p>
          <ul>
                <li>URL: <b>(...)api/discontinuities</b></li>
                <li>Example: POST for url: (...)/api/discontinuities</li>
          </ul>


          <br><h3>System Summary</h3>
          <div class="container">
          <h4> GET for (...)/api/summary</h4>
          <p>Retrieve the number of discountinuities, sessions and users in the database.</p>
            <ul>
                <li>URL: <b>/api/summary</b></li>
                <li>Example of the response: <p>{"summary": [ { "NumUsers": 10, "NumSessions": 9, "NumDiscontinuities": 47 }]}</p></li>  
            </ul>
          <h4> GET for (...)/api/usersummary/:idUser</h4>
          <p>Retrieve the number of discountinuities and sessions of an user.</p>
            <ul>
                <li>URL: <b>(...)/api/usersummary/:idUser</b></li>
                <li>Example of the response: <p>{"summary": [ { "NumDiscontinuities": 37,  "NumSessions": 3 } ]}</p></li>  
            </ul>
            <h4> GET for (...)/api/sessionsummary/:idSession</h4>
          <p>Retrieve the number of  discountinuities, sessions and users in the database.</p>
            <ul>
                <li>URL: <b>(...)/api/sessionsummary/:idSession</b></li>
                <li>Example of the response: <p>{ "summary":[{"NumDiscontinuities": 18, "NumUsers": 3}]}</p></li>  
            </ul>

        </div>

      </div>
      

