<body>
    <div class="container-fluid">
      <div class="row">
 

        <main class="col-sm-9 offset-sm-4 col-md-10 offset-md-1 pt-3">
          <h4 class="float-right">
            <a href="\logout">Logout</a>
          </h4>
          <h1>Sucess</h1>
          <section class="jumbotron text-center">
            <div class="container">
              <h2 > {{message}}</h2>
              
              <a href="\admin"><button class="btn btn-lg" >OK</button>
             
            </div>
          </section>
        </main>
      </div>
    </div>

</body>